/FaMaTreeParser.smap
/FaMaTreeParserTokenTypes.java
/FaMaTreeParserTokenTypes.txt
/Analex.smap
/AnalexTokenTypes.java
/AnalexTokenTypes.txt
/Anasint.smap
/AnasintTokenTypes.txt
/Analex.java
/Anasint.java
/AnasintTokenTypes.java
/FaMaTreeParser.java
