/** Add css rules here for your application. */
html, body {
	font-family:"Arial", Helvetica, sans-serif;
	font-size:13px;
	background-image: url(res/bg.gif);
	background-color: #a4a4a4;
	background-repeat: repeat-x;
	overflow: hidden;
	height:100%;
	margin: 0;
}


table {
	border-collapse: collapse;	
}

/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

.nodePanel{
	height:auto;
	color: #444;
	min-width: 100%;
}



.nodeRow{
	width:100%;
	height:17px;
	padding:0px;
	margin:0px;
	cursor: default;
	vertical-align: middle;
	
}

.treeRow{
	width:100%;
	height:32px;
	padding:0px;
	margin:0px;
	cursor: default;
	vertical-align: middle;
	position:relative;
	background-image: url(res/button_bg.gif);
	background-color: #e2e2e2;
	border-bottom: solid #999 1px;
}

.treeRow .treeLabel{
	position:relative;
	top: 8px;
	left: 5px;
	color: #555;	
}



.nodePanelCollapsed{
	height: 17px;
	color: #000;
	min-width: 100%;
}


.addNodeButton{
	width:11px;
	height:11px;
	margin:3px;
	text-align:center;	
	opacity:0;
	background-image: url(res/addButton.png);
	display:inline-block;
	vertical-align: middle;
}




.nodeLabel{
	height:17px;
	margin-right:10px;
	display:inline;
	vertical-align: middle;
	margin-top:1px;
	white-space: nowrap;
}

.nodeLabelLeaf{
	height:17px;
	margin-right:10px;
	display:inline;
	vertical-align: middle;
	margin-top:1px;
	font-style: italic;
	white-space: nowrap;
}

.nodeHead{
	background-image: url(res/show.png);
	background-position: center;
	background-repeat: no-repeat;
	width:14px;
	height:17px;
	opacity:0.5;
	margin-right:4px;
	display:inline;
	vertical-align: top;
	padding-right: 15px;
}

.nodeRefIcon{
	background-image: url(res/refIcon.png);
	background-position: center;
	background-repeat: no-repeat;
	width:14px;
	height:17px;
	opacity:0.6;
	margin-right:4px;
	display:inline;
	vertical-align: top;
	padding-right: 15px;
	margin-left:-5px;
}

.nodeHeadLeaf{
	background-image: url(res/leafHead.png);
	background-position: center;
	background-repeat: no-repeat;
	width:14px;
	height:17px;
	opacity:0.7;
	margin-right:4px;
	display:inline;
	vertical-align: middle;
	padding-right: 15px;
}

.show{
	background-image: url(res/show.png);
	background-position: center;
	background-repeat: no-repeat;
	width:14px;
	height:17px;
	opacity:0.5;
	margin-right:4px;
	display:inline;
	vertical-align: top;
	padding-right: 15px;
}

.hide{
	background-image: url(res/hide.png);
	background-position: center;
	background-repeat: no-repeat;
	width:14px;
	height:17px;
	opacity:0.8;
	margin-right:4px;
	display:inline;
	vertical-align: top;
	padding-right: 15px;
	
}

.treeContainer{
	background-image: url(res/tiled_bg.gif);
	margin: 25px 0px 0px 0px;
	border: solid 1px #888;
	border-top: solid 1px #777;
	border-left: none;

	/*-moz-border-radius-bottomleft: 3px;
	-moz-border-radius-bottomright: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;*/
}

.treeContainer .nodePanel:FIRST-CHILD{
	overflow: hidden;
	background-image: url(res/tiled_bg.gif);
}




.nodePanel div:first-child:hover .addNodeButton{
	opacity:0.7;	
}

.treeContainer div:first-child:hover .addNodeButton{
	opacity:0.7;	
}

.nodeRowSelected{
	background:#66778d url(res/selectedBG.gif);
	color: #EEE;
	height: 17px;
	cursor: default;
	text-shadow: 0px 1px 1px rgba(30, 36, 62, 0.8);
}



.nodeRowSelected .nodeHead{
	background-image: url(res/showI.png);
	opacity:0.9
}

.nodeRowSelected .nodeHead{
	background-image: url(res/showI.png);
	opacity:0.9
}

.nodeRowSelected .nodeHeadLeaf{
	background-image: url(res/leafHeadI.png);
	opacity:0.7
}

.nodeRowSelected .nodeHeadLeaf{
}

.nodeRowSelected .show{
	background-image: url(res/showI.png);
	opacity:0.9
}

.nodeRowSelected .hide{
	background-image: url(res/hideI.png);
	opacity:0.9
}

.nodeRowSelected .addNodeButton{
	background-image: url(res/addButtonI.png);
}

#atributePanel, .atributePanel{
	background:#f2f2f2;
	border: solid 1px #999;
	border-top: solid 1px #666;
	border-right: none;
	padding: 0px;
	margin-right:0px;
	color: #333;
	/*-moz-border-radius: 3px;
	-webkit-border-radius: 3px;*/
}

#atributePanel:FIRST-CHILD, .atributePanel:FIRST-CHILD{
	/*-moz-border-radius-topleft: 2px;
	-moz-border-radius-topright: 2px;
	-webkit-border-top-left-radius: 2px;
	-webkit-border-top-left-radius: 2px;*/
}

.attbRow{
	padding: 8px 17px 8px 10px;
	
}

.attbRow:hover{
	background-color: #e2e4e6;
	
}

.attbRow .gwt-Label{
	display: inline;
}

.attbRow .gwt-CheckBox{
	position: relative;
	display: inline;
	margin-right:3px;
}

.attbRow .gwt-ListBox{
	margin-left:5px;
}
	
.attbsTittle{
	color: #333436;
	text-align: center;
	font-weight: bold;
	padding:5px;
	background-color: #abb1b9;
	/*border-bottom: 1px solid #DDD;*/
}


.gwt-SplitLayoutPanel-HDragger{
	opacity:0.6;
	cursor: ew-resize;
	background-image: url(res/drag_top.gif);
	background-repeat: no-repeat;
	background-position: top;
	margin-top: 2px;
	padding-right: 2px;
	margin-left: -3px;
	z-index: 8;
	height: 25px;
}
.gwt-SplitLayoutPanel-HDragger:hover{
	opacity:0.9;
}



.gwt-TextBox{
	width:100%;
	background-image: url(res/inner_shadow_small.png);
	background-color: #fdfdfd;
	border: 1px solid #999;
	border-top: 1px solid #888;
	border-bottom: 1px solid #ccc;
	padding: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;	
	color: #333;
}

.gwt-TextBox:FOCUS{
	-moz-box-shadow: 0px 0px 2px #285591;
	-webkit-box-shadow: 0px 0px 2px #285591;
	border: 1px solid #888;
	border-top: 1px solid #777;
	border-bottom: 1px solid #bbb;
	color: #000;
	background-color: #fff;
}

.gwt-TextArea, .IODialog .gwt-HTML, .IODialog .gwt-Label{
	width: 100%;
	height: 100%;
	font-family:"Arial", Helvetica, sans-serif;
	font-size:12px;
	color: #444;
	border: 1px solid #777;
	background-color: #fff;
	background-image: url(res/inner_shadow_small.png);
	background-repeat: repeat-x;
	border: 1px solid #888;
	border-top: 1px solid #777;
	border-bottom: 1px solid #aaa;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	overflow: scroll;
}

.gwt-TextArea:FOCUS, .IODialog .gwt-HTML:FOCUS{
	-moz-box-shadow: 0px 0px 2px #285591;
	-webkit-box-shadow: 0px 0px 2px #285591;
	border: 1px solid #888;
	border-top: 1px solid #777;
	border-bottom: 1px solid #bbb;
	color: #000;
	background-color: #fff;
}

.gwt-Button {
	font-size:12px;
	font-weight:bold;
	background-image: url(res/button_bg_2.gif);
	background-position: center;
	vertical-align:bottom;
	height: 26px;
	border: 1px solid #888;
	border-top: 2px solid #999;
	border-bottom: 2px solid #666;
	color:#222;
	text-shadow: 0px 1px 0px #ddd;
	padding-bottom: 3px;
	
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	
	
	-moz-border-top-colors:    #999 #fafafa;
	-moz-border-bottom-colors:    #666 #999;
    /*-webkit-border-image: -webkit-gradient(linear, left top, left bottom, from(#00abeb), to(#fff), color-stop(0.5, #fff), color-stop(0.5, #66cc00)) 21 30 30 21 repeat repeat;*/
}

.gwt-Button:ACTIVE {
	background-image: url(res/button_pressed_bg.gif);
	background-position:center;
	color:#000;
	opacity:1;
	border: 1px solid #444;
	border-top: 2px solid #333;
	border-bottom: 2px solid #444;
	padding-top:1px;
	text-shadow: 0px 1px 0px #999;
	
	-moz-border-top-colors:    #333 #444;
	-moz-border-bottom-colors:    #444 #666;
}

/*
width:auto;
	height:30px;
	background-image: url(res/button_pressed_bg.gif);
	background-position:center;
	color:#000;
	border:none;
	vertical-align:middle;


#topButtons button{
	margin-left: -1px;
	margin-right: -1px;
	font-size:12px;
	font-weight:bold;
	background-image: url(res/button_bg_2.gif);
	background-position: center;
	vertical-align:bottom;
	height: 26px;
	border: 1px solid #999;
	border-left: 1px solid #666;
	border-bottom: 1px solid #666;
	color:#222;
	text-shadow: 0px 1px 0px #ddd;
}

#topButtons button:ACTIVE{
	background-image: url(res/button_pressed_bg.gif);
	background-position:center;
	color:#000;
	opacity:1;
	border: 1px solid #444;
	border-top: 1px solid #333;
	border-bottom: 1px solid #444;
	padding-top:2px;
	text-shadow: 0px 1px 0px #999;
}*/

.checkbox {
	width: 19px;
	height: 25px;
	padding: 0 5px 0 0;
	background: url(res/inner_shadow_small.png) no-repeat;
	display: block;
	clear: left;
	float: left;
}


#logo{
	position:relative;
	left:15px;
	top:5px;
	display:inline-block;
	float:left;
}

.separatorLeft, .gwt-MenuBar{
	width:auto;
	height:30px;
	background-image: url(res/button_bg.gif);
	border:none;
	color:#333;
	vertical-align:middle;
	display: inline-block;
}

.separatorLeft:active{
	width:auto;
	height:30px;
	background-image: url(res/button_pressed_bg.gif);
	background-position:center;
	color:#000;
	border:none;
	vertical-align:middle;
}

.separatorLeft:active{
	width:auto;
	height:30px;
	/*background-image: url(res/button_pressed_bg.gif);*/
	background-image:none;
	background-color: #EEE;
	border:1px solid #222;
	color:#000;
	vertical-align:middle;
	opacity:0.5;
}

.gwt-Button:disabled{
	opacity: 0.6;
	background-image:none;
	background-color: #ccc;
	color:#000;	
}

#addRemPanel{
	width:auto;
	margin-left:10px;
	margin-right:10px;
	margin-top:5px;
	margin-bottom:5px;
	padding-bottom:20px;
	clear: both;
	background-image: url(res/bg.gif);
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border: 1px solid #999;
}

#addRemPanel button{
	border: 1px solid #888;
	border-bottom: 1px solid #666;
	margin-right: -1px;
	width:30px;
	height:30px;
	position:relative;
	top: 4px;
	left:5px;
	font-size:20px;
	font-weight:bold;
	background-image: url(res/button_bg_2.gif);
	background-position: center;
	text-shadow: 0px 1px 0px #ddd;
	color:#222;
}


#addRemPanel button:ACTIVE{
	background-image: url(res/button_pressed_bg.gif);
	background-position:center;
	color:#000;
	opacity:1;
	border: 1px solid #444;
	border-top: 1px solid #333;
	border-bottom: 1px solid #444;
	padding-top:1px;
	text-shadow: 0px 1px 0px #999;
}

#addRemPanel button:FIRST-CHILD{
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius-bottomleft: 3px;
	-moz-border-radius-topleft: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-webkit-border-top-left-radius: 3px;
}

#addRemPanel button:LAST-CHILD{
	border-left: 1px solid #666;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-topright: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-top-right-radius: 3px;
}



#topButtons{
	text-align:right;
	top:8px;
	right:0px;
	padding-right:2px;
	margin-right:10px;
	float: right;
}

#topButtons .gwt-Button{
	margin-right: 10px;
	font-size:12px;
	font-weight:bold;
	background-image: url(res/button_bg_2.gif);
	background-position: center;
	vertical-align:bottom;
	height: 26px;
	border: 1px solid #999;
	border-right: 1px solid #555;
	border-left: 1px solid #777;
	border-bottom: 1px solid #666;
	color:#222;
	text-shadow: 0px 1px 0px #ddd;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;	
}

/*#topButtons .gwt-Button:FIRST-CHILD{
	-moz-border-radius-bottomleft: 3px;
	-moz-border-radius-topleft: 3px;
	-webkit-border-bottom-left-radius: 3px;	
	-webkit-border-top-left-radius: 3px;
	border-left: 1px solid #666;
	margin-left: 5px;
}

#topButtons .gwt-Button:LAST-CHILD{
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-topright: 3px;
	-webkit-border-bottom-right-radius: 3px;	
	-webkit-border-top-right-radius: 3px;
	border-left: 1px solid #666;
	margin-right: 5px;
}*/

#topButtons .gwt-Button+.gwt-Button {
	-moz-border-radius-bottomleft: 0px;
	-moz-border-radius-topleft: 0px;
	-webkit-border-bottom-left-radius: 0px;	
	-webkit-border-top-left-radius: 0px;
	margin-left: -12px;
	margin-right: 0px;
}

#topButtons div {
	margin-right: 10px;
}



#topButtons button:ACTIVE{
	background-image: url(res/button_pressed_bg.gif);
	background-position:center;
	color:#000;
	opacity:1;
	border: 1px solid #444;
	border-top: 1px solid #333;
	border-bottom: 1px solid #444;
	padding-top:2px;
	text-shadow: 0px 1px 0px #999;
}

#topButtons .separatorLeft+button{
	-moz-border-radius-bottomleft: 3px;
	-moz-border-radius-topleft: 3px;
	-webkit-border-bottom-left-radius: 3px;	
	-webkit-border-top-left-radius: 3px;
}

#topButtons .separatorLeft{
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-topright: 3px;
	-webkit-border-bottom-right-radius: 3px;	
	-webkit-border-top-right-radius: 3px;
	padding-bottom: 3px;
	margin-right:20px;
}



/*#topButtons .gwt-Button:FIRST-CHILD, #topButtons div .gwt-Button:FIRST-CHILD{
	-moz-border-radius-bottomleft: 3px;
	-moz-border-radius-topleft: 3px;
	-webkit-border-bottom-left-radius: 3px;	
	-webkit-border-top-left-radius: 3px;
}*/

/*#topButtons button:LAST-CHILD{
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-topright: 3px;
	-webkit-border-bottom-right-radius: 3px;	
	-webkit-border-top-right-radius: 3px;
}*/

#topRow, .topRow{
	width:100%;
	padding: 4px;
}

#topRow div{
	display: inline;
}



#topRow .gwt-HTML{
	clear:both;
	display: inline-block;
}

.separatorLeft{
	margin-right:17px;	
}

.gwt-MenuBarPopup table{
	position:relative;
	/*margin-top:-100px;*/
	background: none;
	background-color: #111;
	color: #DDD;
	opacity:0.9;
}
.gwt-MenuBarPopup .gwt-MenuItem{
}
.gwt-MenuBarPopup .gwt-MenuItem-selected{
	background-color: #EEE;
	color: #111;
}

.addMenuPanel{
	background-image: url(res/button_bg.gif);
	background-color: #fefefe;
	background-repeat: repeat-x;
	background-position: bottom;
	border: 1px solid #999;
	border-bottom: 1px solid #888;
	position: relative;
	display: inline-block;
	color: #333;
	float: left;
	padding: 5px 0px 5px 0px;
	-moz-box-shadow: 0 3px 25px rgba(55,55,55,0.6);
	-webkit-box-shadow: 0 3px 25px #777;
	min-width:150px;
	max-height: 85%;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.popupContent .gwt-Label{
	padding:1px 5px 1px 5px;
}

.popupContent .gwt-Label:hover{
	background: green;
}

.popupContent{
	padding:0px;
	cursor: default;
}

.addMenuPanel .gwt-Label:hover{
	color: #eee;
	background:#66778d url(res/selectedBG.gif);
}


.IODialog{
	background-color: #dcdcdc;
	background-image: url(res/bg.gif);
	background-repeat: repeat-x;
	background-position: bottom;
	border: 1px solid #444;
	width: 70%;
	height: 60%;
	position:relative;
	margin: 0 auto 0 auto;
	top: 55px;
	padding: 8px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-box-shadow: 0px 5px 35px rgba(55,55,55,0.8);
	-webkit-box-shadow: 0px 5px 35px rgba(55,55,55,0.8);
	z-index: 20;
	padding-bottom: 68px;
}

.modelsDialog {
	background-color: #cfcfcf;
	background-image: url(res/bg.gif);
	background-repeat: repeat-x;
	background-position: top;
	border: 1px solid #444;
	width: 200px;
	position:relative;
	margin: 0 auto 0 auto;
	top: 30%;
	padding: 8px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-box-shadow: 0px 5px 35px rgba(55,55,55,0.8);
	-webkit-box-shadow: 0px 5px 35px rgba(55,55,55,0.8);
	z-index: 7;
}

.modelsContainer {
	background-image: url(res/tiled_bg.gif);
	margin:5px 0px 0px 0px;
	border: solid 1px #999;
	border-top: solid 1px #666;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}

.modelsContainer .nodeRow, .modelsContainer .nodeRowSelected {
	font-size: 13px;
	padding-left:3px;	
}

.IODialog .gwt-Button{
	margin-top: 6px;
	margin-right: 2px;
	margin-bottom: 5px;
	float: right;
	margin-left: 5px;
}

.IOFocus{
	background-color: #000;
	opacity: 0.4;
	width:100%;
	height:100%;	
	padding: 0px;
	margin:0px;
	top: 0px;
	left: 0px;
	z-index: 6;
}





.IODialog .dialogTittle{
	font-size: 18px;
	font-weight: bold;
	color: #333;	
}

.IODialog .dialogSubTittle{
	font-size: 13px;
	font-style: italic;
	color: #555;
	margin-bottom:10px;
}


.nodeRowHandler{
	position:relative;
	height: 17px;
	margin-bottom: -17px;
	width:100%;
}

.failureApplet{
	color: #777;
	position: absolute;
	bottom: 10px;
	right: 10px;	
}

.proyectInfo{
	margin-left:10px;
	margin-top:0px;
	background-image: url(res/button_bg_2.gif);
	background-color: #fefefe;
	background-repeat: repeat-x;
	background-position: center;
	border: 1px solid #777;
	border-top: 1px solid #999;
	border-bottom: none;
	height:25px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
}

.proyectInfo .gwt-Label{
	position:relative;
	top:2px;
	padding-top: 3px;
	padding-right: 32px;
	vertical-align: middle;
	left: 5px;
	color: 	#222;
	height:100%;
	white-space: nowrap;
	overflow: hidden;
	z-index: 5;
	text-shadow: 0 1px 0 #DDDDDD;
	display:inline
}

.proyectInfo .gwt-Label:hover{
	background: url(res/pencil_small.png) right no-repeat;
}

.proyectInfo .gwt-TextBox{
	position:relative;
	top:2px;
	left: 2px;
	color: 	#555;
	width: auto;
	white-space: nowrap;
	z-index: 5;
	padding: 2px;
	float:left;
	margin-bottom: -20px;
}


.proyectInfo .modelLabel{
	position:relative;
	font-size: 10px;
	margin-top:6px;
	right: 10px;
	height: 26px;
	color: 	#444;
	width:auto;
	white-space: nowrap;
	overflow: hidden;
	float: right;
	text-shadow: 0 1px 0 #DDDDDD;
	text-align: right;
	clear: both;
}


.gwt-PopupPanel{
	z-index:10;
	position: relative;
}

.gwt-PopupPanel button{
	background:  #777;	
}

.debugWidget{
	width:40px;
	height: 14px;
	font-size: 9px;
	background: none;
	color:#999;
	position: absolute;
	bottom:5px;
	right:5px;
	cursor: default;
	text-align: center;
	vertical-align: middle;
}

.ACME-AddRemoveNode {
	background-image: url(res/bg_condensed.gif);
	background-color: #a4a4a4;
	background-repeat: repeat-x;
	background-position: center;
	overflow: hidden; 
	z-index: 9;
}

.ACME-AddRemoveNode .gwt-Button {
	background: none;
	border: none;
	border-right: 1px solid #777;	
	height: 31px;
	width: 30px;
	font-size: 16px;
	position: relative;
	top: -1px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
}

.ACME-AddRemoveNode .gwt-Button:disabled {
	background-color: #999;
	color: #444;
}

.ACME-AddRemoveNode .gwt-Button:active {
	background-image: url(res/button_pressed_bg.gif);
	background-position:center;
	color:#000;
	opacity:1;
	text-shadow: 0px 1px 0px #999;
	
}

.ACME-XViewHeader {
	background-image: url(res/bg2.gif);
	background-position: bottom;
	height: 24px;
	border-top: 2px solid #777;
	border-right: 1px solid #666;
	border-bottom: 1px solid #999;
	
	-moz-border-top-colors:    #777 #f5f5f5;
}

.ACME-XViewHeader div{
	margin-bottom: -1px;
}

.ACME-XViewHeader .gwt-TextBox {
	position:relative;
	height: 12px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	margin-left:17px;
	padding-left: 4px;
	padding-right: 15px;
	top:2px;
	left:3px;
	border-color: #777 #888 #aaa;
}

.ACME-XViewHeader-leftInfo {
	font-size: 10px;
	color: #777;
	position:  relative;
	height: 24px;
	clear:both;
}

.ACME-XViewHeader-rightActions {
	float:right;
	height: 24px;
	width: 60%;
	clear:both;
	text-align:right;
	top:-24px;	
	z-index: 1;
	font-size: 10px;
	font-weight: bold;
	color: #444;
	padding-right:10px;
}

.ACME-XViewHeader-rightActions div {
	display: inline;	
	
}

.ACME-XViewHeader-rightActions .gwt-Button {
	font-size:10px;
	height:18px;
	margin-right:4px;
	margin-top:3px;
	padding-bottom:1px;
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 0px;
	-webkit-border-top-right-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
	
}

.ACME-XViewHeader-rightActions .gwt-Button+.gwt-Button {
	
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-bottomleft: 0px;
	-webkit-border-top-left-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
	margin-left:-5px;
}

.ACME-XViewHeader-rightActions .gwt-Button:last-child {
	
	-moz-border-radius-topright: 9px;
	-moz-border-radius-bottomright: 9px;
	-webkit-border-top-right-radius: 9px;
	-webkit-border-bottom-right-radius: 9px;
}

.ACME-Sources {
	border-right: 1px solid #777;
	background:#f2f2f2;
	
}


.ACME-Sources .ACME-Sources-group {
	background: #c9cdd1;
	color: #636972;
	padding: 5px;
	width: 100%;
	text-align: center;	
	display: block;
}

.ACME-Sources-head {
	
	background-image: url(res/bg2.gif);
	background-position: bottom;
	height: 23px;
	border-top: 2px solid #777;
	border-bottom: 1px solid #999;
	-moz-border-top-colors:    #777 #f5f5f5;
	color: #777;
	
}

.ACME-Sources-head .gwt-Label {
	padding: 4px;	
}

.ACME-Sources .ACME-SourceTab {
	padding: 5px;
	font-size: 11px;
	
	border-top: 1px solid #f7f7f7;
	border-bottom: 1px solid #d3d4d5;
}

.ACME-Sources .ACME-SourceTab-selected {
	padding: 5px;
	font-size: 11px;
	
	border-top: 1px solid #9fa4aa;
	border-bottom: 1px solid #72777d;
	
	/*-moz-border-bottom-colors:  rgba(30, 36, 62, 0.8) rgba(30, 36, 62, 0.4);*/
	
	background: url(res/selectedBG2.gif) top repeat-x;
	text-shadow: 0px 1px 1px rgba(30, 36, 62, 0.8);
	
	
	-moz-box-shadow: 0px 1px 1px rgba(30, 36, 62, 0.5);
	-webkit-box-shadow: 0px 1px 1px rgba(30, 36, 62, 0.5);
	
	z-index: 7;
}

.ACME-Sources .ACME-SourceTab:hover{
	background-color: #e2e4e6;
	
	border-top: 1px solid #f0f0f0;
	border-bottom: 1px solid #c3c4c5;
}


.ACME-Sources .ACME-SourceTab .gwt-Label {
	background: none;
	color: #707171;
	text-align: left;
	display: inline;
}

.ACME-Sources .ACME-SourceTab-selected .gwt-Label {
	background: none;
	color: #e1e3e5;
	text-align: left;
	display: inline;
}

.ACME-Sources .ACME-SourceTab-type {
	color: #f2f2f2;	
	display: inline;
	margin-left: 5px;
	padding: 0px 2px 0px 2px;
	background: #bcbdbe;
	font-size: 8px;
	
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	
}

.ACME-Sources .ACME-SourceTab-selected .ACME-SourceTab-type {
	color: #78818b;	
	display: inline;
	margin-left: 5px;
	margin-top: 1px;
	padding: 0px 2px 0px 2px;
	background: #f2f2f2;
	font-size: 8px;
	text-shadow: none;
	
	-moz-box-shadow: 0px 1px 1px rgba(30, 36, 62, 0.6);
	-webkit-box-shadow: 0px 1px 1px rgba(30, 36, 62, 0.6);
	
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	
	opacity: 0.8;
	
}

.shadow_fixed_bottom_small {
	position: fixed;
	width: 100%;
	height: 5px;
	margin-bottom: -5px;	
	opacity: 0.33;
}
.shadow_fixed_right_small {
	position: fixed;
	height: 100%;
	width: 5px;
	margin-right: -5px;	
	opacity: 0.2;
	z-index: 7;
}

.shadow_fixed_left_small {
	position: fixed;
	height: 100%;
	width: 5px;
	margin-left: -5px;	
	opacity: 0.2;
	z-index: 7;
	float: right;
}

.LoadingLabel{
	font-size: 24px;
	
	/*font-style: italic;
	background-color: #f0f0f0;
	color: #666;*/
	
	color: #ddd;
	text-shadow: 0 1px 2px rgba(0,0,0,0.5);
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	padding: 2px;
	width: 70px;
	margin: 0 auto 0 auto;
	position: absolute;
	left: 40%;
	right: 40%;
	top: 50%;
	z-index: 5;
}

.tempEmptySpace {
	background-color: #626262;
	background-repeat: repeat-x;
	background-position: top;
	background-image: url(res/bg3.gif);
	border-top: 1px solid #666;
	height: 100%;
}

.separator {
	padding-right:20px;
}

.ACME-SearchForTreeViewer {
	z-index: 6;
	max-width: 200px;
	width: 18%;
	height: 25px;
	padding-right: 46px;	
	font-size: 11px;
}

.ACME-closecross {
	float:right;
	margin-right:-23px;
	opacity:0.5;
	padding:5px;
	position:relative;
	text-align:right;
	top:-18px;
	visibility:visible;
}

.ACME-closecross:hover {
	opacity: 0.7;	
}

.ACME-closecross-disabled {
	visibility: hidden;
	float:right;
	margin-right:-18px;
	opacity:0;
	position:relative;
	text-align:right;
	top:-14px;
	height: 0px;
}

.ACME-NodeView-Highlighted {

	height:auto;
	color: #7a3e0d;
	min-width: 100%;
	background-image: url(res/bg_highlighted.png)
}	

.ACME-DebugConsole {
	width: 100%;
	height: 100%;
	background-color: #fafafa;
	color: #555;
	font-size: 10px;
	border-top: 1px solid #777;
	z-index: 8;
}

.ACME-DebugConsole-shown {
	width: 100%;
	height:70%;
	z-index: 10;
	background-color: #fafafa;
	color: #555;
	font-size: 10px;
	border-top: 1px solid #777;
	border-bottom: 1px solid #777;
	position: fixed;
	bottom: 0px;
	
	overflow: auto;
	
	-moz-box-shadow: 0 0px 15px rgba(55,55,55,0.3);
	-webkit-box-shadow: 0 0px 15px rgba(55,55,55,0.3);
}

.ACME-DebugConsole-HLline {
	background-color: rgba(254,183,79,0.28);
	color: #694322;	
}

.ACME-DebugConsole-shown div {
	min-height: 12px;
	cursor: default;
}

.ACME-DebugConsole-HLline:hover {
	background-color: rgba(254,183,79,0.5);	
}

.ACME-BugButton {
	width:26px;
	font-size:12px;
	font-weight:bold;
	background-image: url(res/button_bg_bug.gif);
	background-position: center;
	vertical-align:bottom;
	height: 26px;
	border: 1px solid #888;
	border-top: 2px solid #999;
	border-bottom: 2px solid #666;
	color:#222;
	text-shadow: 0px 1px 0px #ddd;
	padding-bottom: 3px;
	
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	
	
	-moz-border-top-colors:    #999 #fafafa;
	-moz-border-bottom-colors:    #666 #999;
}

.ACME-BugButton:ACTIVE {
	background-image: url(res/button_bg_bug_pressed.gif);
	background-position:center;
	color:#000;
	opacity:1;
	border: 1px solid #444;
	border-top: 2px solid #333;
	border-bottom: 2px solid #444;
	padding-top:1px;
	text-shadow: 0px 1px 0px #999;
	
	-moz-border-top-colors:    #333 #444;
	-moz-border-bottom-colors:    #444 #666;
}

.ACME-VDragger-Custom {
	width: 100%;
	cursor: sw-resize;	
}

.ACME-SCLve-ProjectPanel {
	height: 100%;	
}

.ACME-SourceTab-handler {
	width: 100%;
	height:14px;
	margin:-19px 0 -5px -5px;
	padding-bottom:10px;
	padding-left:10px;
	position:relative;
	width:100%;	
}

.ACME-EditorLoader {
	background: #626262 url(res/bg3.gif) top repeat-x;
	height: 100%;
}

.ACME-EditorPlaceHolder-loaderPanel {
	position: relative;
	margin: 0 auto 0 auto;
	width: 160px;
	padding: 20px;
	top: 35%;
	/*border: 4px dashed rgba(255,255,255, 0.4);*/
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	background: url(res/bg.gif) bottom repeat-x #ddd;
	text-align: center;
	
	-moz-box-shadow: 0 1px 6px rgba(22,22,22,0.8);
	-webkit-box-shadow: 0 1px 6px rgba(22,22,22,0.8);
	border-bottom: 1px solid #666;
	border-top: 1px solid #f5f5f5;
}

.ACME-EditorPlaceHolder-loaderPanel .gwt-Button {
	/*-moz-box-shadow: 0 1px 2px rgba(22,22,22,0.5);
	-webkit-box-shadow: 0 1px 2px rgba(22,22,22,0.5);*/
	margin-top: 20px;
}

.ACME-EditorPlaceHolder-loaderPanel .ACME-LoadingGif {
	margin-top: 13px;	
}

.ACME-EditorPlaceHolder-phLabel {
	color: #333;
	font-size: 21px;
	text-shadow: 0px 1px 1px rgba(22,22,22,0.4);
	margin-bottom: 6px;
}

.ACME-EditorPlaceHolder-phType {
	color: #333;
	font-size: 12px;
	text-shadow: 0px 1px 1px rgba(22,22,22,0.4);
	opacity: 0.7;
}

.ACME-NodeDebugger {
	background:#f2f2f2;
	border: solid 1px #999;
	border-top: solid 1px #666;
	border-right: none;
	padding: 5px;
	margin-right:0px;
	color: #333;	
}
